SECRET_KEY=")@gv^o%65qnx)8uii^k-mjoe1#kygdzxgq#&gnyea0!^k*tjp="
DEBUG=False
ALLOWED_HOSTS=your-app-name.onrender.com
CORS_ALLOWED_ORIGINS=https://your-frontend.vercel.app
DATABASE_URL=your_database_url